@media only screen and (orientation:landscape) {
    html {
        background-image: url(bg-4.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
    }

    .heading {
        background-image: url(bg1.png);
        background-size: 861px 404px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        background-size: auto;
    }

    .nav-bar {
        overflow: auto;
        white-space: nowrap;
    }

    .get-minecraft-bt {
        background-image: linear-gradient(to bottom right, red, yellow);
        color: white;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15%;
    }

    .Mods-bt {
        background-image: linear-gradient(to bottom right, red, yellow);
        color: white;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15%;
    }

    .sub-heading {
        color: rgb(5, 255, 26);
        font-weight: 600;
    }

    .contact {
        background-image: linear-gradient(to bottom right, #00274D, #00A8E8);
        color: white;
        border-radius: 15%;
        width: 8rem;
        height: 2.5rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    #update-1 {
        font-family: 'Playpen Sans', cursive;
        color: rgb(255, 255, 255);
        text-align: center;

    }

    #Home,
    #updates,
    #contact {
        padding: 1rem;
    }

    #Home {

        color: #ffffff;
    }

    .hr {
        height: 2px;
        background-color: rgb(0, 0, 0);
    }

    /* --------------------------------------------get-minecraft---------------------------------------------------------*/
    .back-bt {
        border-radius: 50%;
        background-image: linear-gradient(to right, #009245, #fcee21);
        color: white;
        height: 4rem;
        width: auto;
        font-size: auto;
    }

    .home-bt-bg {
        background-image: url(bg1.png);
    }

    .get-minecraft-heading {
        background-image: url(bg1.png);
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
    }

    .vid {
        width: 100%;
        height: 10rem;
        display: grid;
    }

    .name-me {
        font-family: Nosifer;
        color: rgb(5, 255, 26);
    }

}
/* ------------------------------------******************************************************************************************------------------------------------------------------------------------------ */
html {
    background-image: url(bg-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

.heading {
    background-image: url(bg1.png);
    background-size: 861px 404px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    background-size: auto;

}

.nav-bar {
    overflow: auto;
    white-space: nowrap;
}

.get-minecraft-bt {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 15%;
}

.Mods-bt {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 15%;
}

.sub-heading {
    color: rgb(5, 255, 26);
    font-weight: 600;
}

.contact {
    background-image: linear-gradient(to bottom right, #00274D, #00A8E8);
    color: white;
    border-radius: 15%;
    width: 8rem;
    height: 2.5rem;
}

img {
    width: 100%;
    height: auto;
}

#update-1 {
    font-family: 'Playpen Sans', cursive;
    color: rgb(255, 255, 255);
    text-align: center;

}

#Home,
#updates,
#contact {
    padding: 1rem;
}

.hr {
    height: 2px;
    background-color: black;
}

/* --------------------------------------------get-minecraft---------------------------------------------------------*/
.back-bt {
    border-radius: 50%;
    background-image: linear-gradient(to right, #009245, #fcee21);
    color: white;
    height: 4rem;
    width: auto;
    font-size: auto;
}

.home-bt-bg {
    background-image: url(bg1.png);
}

.get-minecraft-heading {
    background-image: url(bg1.png);
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.vid {
    width: 100%;
    height: auto;
    display: grid;
}

.name-me {
    font-family: Nosifer;
    color: rgb(5, 255, 26);
}
